{% extends 'base.html' %}
{% load event_tags %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
<div class="thin-banner">
    <h1>What do we have here ...</h1>
</div>

<form class="event-filters"  method="GET">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% for field in filter_form.visible_fields %}
        <div class="form-filter">
            {{ field.label_tag }} {{ field }}
            <div class="errors">
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <button type="submit">Filter</button>
</form>

<div class="event-category-filters">
    <!--by clicking these buttons we should be taken to event listing, that show us only events of the given event category-->
    <a class="button-gold" href="{% url 'events:events_by_category' 'travel' %}">Travel</a>
    <a class="button-gold" href="{% url 'events:events_by_category' 'relax' %}">Relax</a>
    <a class="button-gold" href="{% url 'events:events_by_category' 'music' %}">Music</a>
    <a class="button-gold" href="{% url 'events:events_by_category' 'education' %}">Education</a>
</div>

<div class="tile-container">
    {% if events %}
    <div class="tile-grid">

            {% for event in events %}
                <a class="event-tile" href="{% url 'events:detail' event.id %}">
                    {# <img src=""> #}
                    <div class="not-available"></div>
                    <div class="event-details">
                        <p>{{ event.host }}</p>
                        <p>{{ event.name }}</p>
                        <p>{{ event.location}}</p>
                        <p><strong>Next:</strong> {{ event.eventrun_set.all|active|min_attr_value:"date" }}</p>
                        <p><strong>From:</strong> {{ event.eventrun_set.all|active|min_attr_value:"price" }}</p>
                    </div>
                </a>
            {% endfor %}

    {% else %}
        <div class="info empty-search">No events found ...</div>
    {% endif %}
</div>
</div>

{% include 'pagination.html' with page=events %}

{% endblock content %}