{% extends 'base.html' %}

{% block title %}
<title>{{ event.name }}</title>
{% endblock title %}

{% block content %}

<h2>{{ event.name }}</h2>

<table>
    <tr>
        <th>{{ event.host }}</th><th>{{ event.location }}</th><th>{{ event.category }}</th>
    </tr>
</table>

<p>{{ event.description }}</p>

<hr>

<br>
    {% if user.is_authenticated %}
        <a href="/events/{{ event.id }}/create_run/">Create new event run</a>
    {% endif %}

<table>
    <th>DATE</th><th>SEATS</th><th>PRICE</th>
    {% for run in runs %}
        <tr>
            <td><a href="{% url 'events:detail' event.id %}">{{ event.name }}</a></td>
            <td> {{ event.location}}</td>
            <td><a href="{% url 'events:update_event' event.id %}">UPDATE</a></td>
        </tr>
    {% endfor %}
</table>

<br>
<a href="/events/">Back</a>

{% endblock content %}