{% extends 'base.html' %}

{% block title %}
<title>{{ event.name }}</title>
{% endblock title %}

{% block content %}

<h2>{{ event.name }}</h2>

<table>
    <tr>
        <th>HOST NAME</th><th>{{ event.location }}</th><th>{{ event.category }}</th>
    </tr>
</table>

<p>{{ event.description }}</p>

<hr>

<br>
<a href="/events/{{ event.id }}/create_run/">Create new event run</a>

<table>
    <th>DATE</th><th>SEATS</th><th>PRICE</th>
    {% for run in runs %}
     <tr>
          <th>{{ run.date }}</th><th>{{ run.time }}</th><th>{{ run.seats_available }}</th><th>{{ run.price }}</th>
		  <td><a href="/events/update_run/{{ run.id }}/">UPDATE</a></td>
          <td><a href="/events/delete_run/{{ run.id }}/">DELETE</a></td>
     </tr>
    {% endfor %}
</table>

<br>
<a href="/events/">Back</a>

{% endblock content %}